html,
body {
  width: 100%;
  height: 100%;
}

p {
  font-size: 14px;
  line-height: 24px;
  color: #333;
  margin: 0;
}

.h1,
.h2,
.h3,
.h4,
.h5 {
  font-family: "Noto Sans", Helvetica, Arial, sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  height: 100px;
  background-color: #3e3e3e;
  display: table;
}

.header .header-title {
  padding-left: 30px;
  display: table-cell;
  vertical-align: middle;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  min-height: 500px;
  font-size: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-align-content: space-around;
      -ms-flex-line-pack: distribute;
          align-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-modal {
  padding: 10px;
  background-color: #fff;
  border-radius: 22px;
}

.c-modal-caption {
  display: table-caption;
}

.c-modal-img {
  width: 100%;
  max-width: 600px;
  height: auto;
}

.c-btn-modal {
  border-radius: 22px;
  display: table;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.c-btn-modal a {
  width: 240px;
  display: table-cell;
  vertical-align: middle;
  font-size: 14px;
  line-height: 24px;
  color: #333;
  text-decoration: none;
  padding: 16px 30px;
}

.c-btn-modal a img {
  width: auto;
  max-width: 100%;
  height: auto;
  border-radius: 22px;
}

.c-btn--01 {
  background-color: #ffc107;
}

.c-text {
  font-size: 14px;
  line-height: 28px;
  color: #000;
}

.c-text--l {
  font-size: 28px;
  line-height: 34px;
}

.c-text-w--b {
  font-weight: bold;
}

.footer {
  width: 100%;
  height: 140px;
  background-color: #3e3e3e;
  display: table;
  position: absolute;
  bottom: 0;
}

.e2015mc-modal {
  max-width: 640px;
  position: absolute;
  top: 20%;
  left: 50%;
  z-index: 1;
}

.e2015mc-modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000;
  width: 100%;
  height: 100%;
}

.e2015mc-modal-bg {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
}

.e2015mc-modal-inner {
  margin: 0 3%;
}

.e2015mc-modal-content {
  display: none;
}

.e2015mc-modal-close {
  margin-bottom: 20px;
  text-align: right;
}

.e2015mc-modal-close a {
  font-size: 11px;
  color: #fff;
  letter-spacing: 2px;
}

.e2015mc-modal-close a:hover {
  color: #ddd;
}

@media screen and (max-width: 640px) {

  .e2015mc-modal {
    width: 100% !important;
    height: auto !important;
    margin-left: 0 !important;
    margin-top: 0 !important;
    max-width: 640px;
    top: 2% !important;
    left: 0;
  }

  .e2015mc-modal-close {
    margin-bottom: 12px;
  }
}
